version: '3.8'

services:
  db:
    image: mysql:latest
    container_name: mysql-desafio2
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: db_desafio
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - ./db/mysql_volume:/var/lib/mysql
      - ./db/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - network_desafio2
    tty: true

  app:
    build:
      context: app/
    container_name: app-desafio2
    entrypoint: dockerize -wait tcp://db:3306 -timeout 60s
    command: node index.js
    networks:
      - network_desafio2
    volumes:
      - ./app/:/usr/src/app
    ports:
      - "3000:3000"
    depends_on: 
      - db

  server:
    image: nginx:latest
    container_name: server-desafio2
    networks:
      - network_desafio2
    ports:
      - "8080:80"
    volumes:
      - ./server/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

networks:
  network_desafio2:
    driver: bridge
  

